button{
    color: rgba(255, 255, 255, 0.842);
    background-color: cornflowerblue;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
}

button:hover:enabled{
    background-color: rgb(86, 125, 196);
}

button:disabled{
    background-color: #d4d1d1;
}
 #delete{
    background-color: darkred;
}
